<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.citygml.v_2_0">

    
    <resultMap type="HashMap" id="CityObjectMemberResultMap">
    	<association property="cityModel" javaType="CityModel" column="CITYMODEL_ID" foreignColumn="ID"/>
    	<association property="cityObject" javaType="CityObject" column="CITYOBJECT_ID" foreignColumn="ID"/>
    </resultMap>

	<resultMap type="CityModel" id="CityModelResultMap">
		<id property="id" column="ID" />
        <result property="gmlId" column="GMLID" />
        <result property="sId" column="SID" />
        <result property="name" column="NAME" />
        <result property="nameCodeSpace" column="NAME_CODESPACE" />
        <result property="description" column="DESCRIPTION" />
        
        <association property="envelope" column="ENVELOPE_ID" javaType="Envelope" foreignColumn="ID" resultMap="EnvelopeResultMap" />
        
        <!-- Collections  -->
        <!-- <collection property="cityObjects" column="id" ofType="CityObject" foreignColumn="ID" resultMap="CityObjectResultMap" /> -->
    </resultMap>

	<insert 
		id="insertCityModel"
		parameterType="CityModel"
		useGeneratedKeys="true"
		>
		INSERT INTO CityModel (GMLID, SID, NAME, NAME_CODESPACE, DESCRIPTION, ENVELOPE_ID)
		VALUES (#{gmlId}, #{sId}, #{name}, #{nameCodeSpace}, #{description}, #{envelope.id})
		<selectKey keyProperty="id" keyColumn="ID" resultType="int" order="AFTER">
			SELECT max(ID) FROM CityModel
     	</selectKey>
	</insert>
	
	<insert
		id="insertCityObjectMember"
		parameterType="HashMap"
		flushCache="true"
		>
		INSERT INTO CityObjectMember (CITYMODEL_ID, CITYOBJECT_ID)
		VALUES (#{cityModel.id}, #{cityObject.id})	
	</insert>
	
	<select
		id="selectCityModel"
		resultMap="CityModelResultMap"
		parameterType="int"
	>
		SELECT * 
		FROM CityModel CM
		WHERE 
			CM.ID = #{id}
	</select>
	
	<select
		id="selectCityModelBySID"
		resultMap="CityModelResultMap"
		parameterType="String"
	>
		SELECT * 
		FROM CityModel CM
		WHERE 
			CM.SID = #{sId}
	</select>
	
	
	
	<select
     	id="selectCityObjectForCityModel"
     	parameterType="int"
     	resultMap="CityObjectResultMap"
     >
	     SELECT *
	     FROM CityObject CO
	     	LEFT OUTER JOIN CityObjectMember COM on COM.CITYOBJECT_ID = CO.ID
	     	LEFT OUTER JOIN CityModel CM on COM.CITYMODEL_ID = CM.ID
	     WHERE
	     	CM.ID = #{id}
     </select>

</mapper>