<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.citygml.v_2_0">
	
	<resultMap type="CityObject" id="CityObjectResultMap">
		<id property="id" column="ID" />
        <result property="gmlId" column="GMLID" />
        <result property="name" column="NAME" />
        <result property="nameCodeSpace" column="NAME_CODESPACE" />
        <result property="description" column="DESCRIPTION" />
        <result property="creationDate" column="CREATION_DATE" />
        <result property="terminationDate" column="TERMINATION_DATE" />
        <result property="relativeToTerrain" column="RELATIVE_TO_TERRAIN" />
        <result property="relativeToWater" column="RELATIVE_TO_WATER" />
        
        <result property="cityObjectType" column="CITYOBJECT_TYPE"/>
        
        
<!--         <discriminator javaType="String" column="CITYOBJECT_TYPE">
        	
        	Building Modules
		    <case value="Building" resultType="Building" resultMap="BuildingResultMap"/>
		    <case value="BuildingInstallation" resultType="BuildingInstallation" resultMap="BuildingInstallationResultMap"/>
		    <case value="Room" resultType="Room" resultMap="RoomResultMap"/>
		    <case value="RoomInstallation" resultType="RoomInstallation" resultMap="RoomInstallationResultMap"/>
		    <case value="BuildingBoundary" resultType="BuildingBoundary" resultMap="BuildingBoundaryResultMap"/>
		    <case value="BuildingOpening" resultType="BuildingOpening" resultMap="BuildingOpeningResultMap"/>
		    
		</discriminator> -->
        
    </resultMap>
    
    <sql id="CityObjectColumn">
    	${alias}.ID, ${alias}.GMLID, 
    	${alias}.NAME, ${alias}.NAME_CODESPACE, ${alias}.DESCRIPTION, 
    	${alias}.CREATION_DATE, ${alias}.TERMINATION_DATE, 
    	${alias}.RELATIVE_TO_TERRAIN, ${alias}.RELATIVE_TO_WATER,
    	
    	${alias}.CITYOBJECT_TYPE 
    </sql>
    
     <insert 
		id="insertCityObject"
		parameterType="CityObject"
		flushCache="true"
		useGeneratedKeys="true"
	>
    	INSERT INTO CityObject 
    	(
    		GMLID, CITYOBJECT_TYPE, NAME, NAME_CODESPACE, DESCRIPTION, CREATION_DATE, TERMINATION_DATE, RELATIVE_TO_TERRAIN, RELATIVE_TO_WATER
    	)
    	VALUES
		(
			#{gmlId},
			#{cityObjectType},
			#{name},
			#{nameCodeSpace},
			#{description},
			#{creationDate},
			#{terminationDate},
			#{relativeToTerrain},
			#{relativeToWater}
		)
		<selectKey keyProperty="id" keyColumn="ID"  order="AFTER" resultType="int">
			SELECT max(ID) FROM CityObject
     	</selectKey>
     </insert>
     
     <select
     	id="selectCityObject"
     	parameterType="int"
     	resultMap="CityObjectResultMap"
     >
	     SELECT *
	     FROM CityObject CO
	     WHERE
	     	CO.ID = #{id}
     </select>
     

     	
     
</mapper>