<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.citygml.v_2_0">

     <resultMap type="BuildingInstallation" id="BuildingInstallationResultMap">
		<id property="id" column="ID" />
		
		<result property="clazz" column="CLAZZ" />
        <result property="classCodeSpace" column="CLASS_CODESPACE" />
        <result property="func" column="FUNC" />
        <result property="funcCodeSpace" column="FUNC_CODESPACE" />
        <result property="usage" column="USAGE" />
        <result property="usageCodeSpace" column="USAGE_CODESPACE" />
        
        <result property="isInterior" column="IS_INTERIOR" />
        
        <!-- Geomeries -->
        <result property="lod2Geometry" column="LOD2GEOMETRY" javaType="[B"/>
        <result property="lod3Geometry" column="LOD3GEOMETRY" javaType="[B"/>
        <result property="lod4Geometry" column="LOD4GEOMETRY" javaType="[B"/>
        
        <association property="lod2ImplicitRepresentation" column="LOD2IMPLICITREPRESENTATION" javaType="ImplicitGeometry" foreignColumn="ID"/>
        <association property="lod3ImplicitRepresentation" column="LOD3IMPLICITREPRESENTATION" javaType="ImplicitGeometry" foreignColumn="ID"/>
        <association property="lod4ImplicitRepresentation" column="LOD4IMPLICITREPRESENTATION" javaType="ImplicitGeometry" foreignColumn="ID"/>
        
        <!-- Building -->
        <association property="building" column="BUILDING_ID" javaType="Building" foreignColumn="ID"/>

    </resultMap>
    
    <sql id="BuildingInstallationColumn">
    	${alias}.ID, ${alias}.BUILDING_ID,
    	${alias}.CLAZZ, ${alias}.CLASS_CODESPACE, 
    	${alias}.FUNC, ${alias}.FUNC_CODESPACE,
    	${alias}.USAGE, ${alias}.USAGE_CODESPACE,
    	${alias}.IS_INTERIOR, 
    	
    	ST_ASBINARY(${alias}.LOD2GEOMETRY) AS LOD2GEOMETRY, ST_ASBINARY(${alias}.LOD3GEOMETRY) AS LOD3GEOMETRY, ST_ASBINARY(${alias}.LOD4GEOMETRY) AS LOD4GEOMETRY,
    	
    	${alias}.LOD2IMPLICITREPRESENTATION, ${alias}.LOD3IMPLICITREPRESENTATION, ${alias}.LOD4IMPLICITREPRESENTATION
    </sql>
    
    <insert 
		id="insertBuildingInstallation"
		parameterType="BuildingInstallation"
		flushCache="true"
	>
    	INSERT INTO BuildingInstallation 
    	(
    		ID, BUILDING_ID, 
    		CLAZZ, CLASS_CODESPACE, FUNC, FUNC_CODESPACE, USAGE, USAGE_CODESPACE, 
    		IS_INTERIOR,
    		
    		LOD2GEOMETRY, LOD3GEOMETRY, LOD4GEOMETRY,
    		LOD2IMPLICITREPRESENTATION, LOD3IMPLICITREPRESENTATION, LOD4IMPLICITREPRESENTATION
    	)
    	VALUES
		(
			#{id}, #{building.id}, 
			#{clazz}, #{classCodeSpace}, #{func}, #{funcCodeSpace}, #{usage}, #{usageCodeSpace}, 
			#{isInterior}
			
			,ST_GEOMFROMWKB(#{lod2Geometry}, 4326), ST_GEOMFROMWKB(#{lod3Geometry}, 4326), ST_GEOMFROMWKB(#{lod4Geometry}, 4326)
			,#{lod2ImplicitRepresentation.id}, #{lod3ImplicitRepresentation.id}, #{lod4ImplicitRepresentation.id}
		)
     </insert>
     
     <select
    	id="selectBuildingInstallation"
    	parameterType="int"
    	resultMap="BuildingInstallationResultMap"
    >
    	SELECT 
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="BuildingInstallationColumn"><property name="alias" value="BI"/></include>
		FROM BuildingInstallation BI
			LEFT JOIN CityObject CO on CO.ID = BI.ID
		WHERE 
			BI.ID = #{id}
    </select>
    
    <select
    	id="selectBuildingBoundarysForBuildingInstallation"
    	parameterType="int"
    	resultMap="BuildingBoundaryResultMap"
    >
    	SELECT 
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="BuildingBoundaryColumn"><property name="alias" value="BB"/></include>
		FROM BuildingBoundary BB 
			LEFT OUTER JOIN CityObject CO on BB.ID = CO.ID
			LEFT OUTER JOIN BuildingInstallation BI on BB.BUILDING_INSTALLATION_ID = BI.ID
		WHERE 
			BI.ID = #{id}
    </select>
</mapper>