<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.citygml.v_2_0">

     <resultMap type="BuildingBoundary" id="BuildingBoundaryResultMap" extends="CityObjectResultMap">
		<id property="id" column="ID" />
		
		<result property="boundaryType" column="BOUNDARY_TYPE" />
		
		<!-- Geometries -->
    	<result property="lod2MultiSurface" column="LOD2MULTISURFACE" javaType="[B" />
        <result property="lod3MultiSurface" column="LOD3MULTISURFACE" javaType="[B" />
        <result property="lod4MultiSurface" column="LOD4MULTISURFACE" javaType="[B" />
		
		<!-- Associations -->
        <association property="building" column="BUILDING_ID" javaType="Building" foreignColumn="ID"/>
		<association property="room" column="ROOM_ID" javaType="Room" foreignColumn="ID"/>
		<association property="buildingInstallation" column="BUILDING_INSTALLATION_ID" javaType="BuildingInstallation" foreignColumn="ID"/>
		<association property="roomInstallation" column="ROOM_INSTALLATION_ID" javaType="RoomInstallation" foreignColumn="ID"/>
    	
    </resultMap>
    
    <sql id="BuildingBoundaryColumn">
    	${alias}.BOUNDARY_TYPE, 
    	${alias}.BUILDING_ID, ${alias}.ROOM_ID, 
    	${alias}.BUILDING_INSTALLATION_ID, ${alias}.ROOM_INSTALLATION_ID
    	
     	, ST_ASBINARY(${alias}.LOD2MULTISURFACE) AS LOD2MULTISURFACE
    	, ST_ASBINARY(${alias}.LOD3MULTISURFACE) AS LOD3MULTISURFACE
    	, ST_ASBINARY(${alias}.LOD4MULTISURFACE) AS LOD4MULTISURFACE
    </sql>
    
    <insert 
		id="insertBuildingBoundary"
		parameterType="BuildingBoundary"
		flushCache="true"
	>
    	INSERT INTO BuildingBoundary 
    	(
    		ID, BOUNDARY_TYPE, 
    		BUILDING_ID, ROOM_ID, BUILDING_INSTALLATION_ID, ROOM_INSTALLATION_ID
    		
    		<if test="lod2MultiSurface != null">, LOD2MULTISURFACE</if>
			<if test="lod3MultiSurface != null">, LOD3MULTISURFACE</if>
			<if test="lod4MultiSurface != null">, LOD4MULTISURFACE</if>
			
    	)
    	VALUES
		(
			#{id}, #{boundaryType}, 
			#{building.id}, #{room.id}, #{buildingInstallation.id}, #{roomInstallation.id}
			
			<if test="lod2MultiSurface != null">, ST_GEOMFROMWKB(#{lod2MultiSurface}, 4326)</if>
			<if test="lod3MultiSurface != null">, ST_GEOMFROMWKB(#{lod3MultiSurface}, 4326)</if>
			<if test="lod4MultiSurface != null">, ST_GEOMFROMWKB(#{lod4MultiSurface}, 4326)</if>
		)
     </insert>
     
     <select
    	id="selectBuildingBoundary"
    	parameterType="int"
    	resultMap="BuildingBoundaryResultMap"
    >
    	SELECT
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="BuildingBoundaryColumn"><property name="alias" value="BB"/></include>
		FROM BuildingBoundary BB
			LEFT JOIN CityObject CO on BB.ID = CO.ID
		WHERE 
			BB.ID = #{id}
    </select>
    
    <select
     	id="selectBuildingOpeningForBuildingBoundary"
   	 	parameterType="int"
    	resultMap="BuildingOpeningResultMap"
    >
   	 	SELECT
   	 	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
   	 	<include refid="BuildingOpeningColumn"><property name="alias" value="BO"/></include>
		FROM BuildingOpening BO
			LEFT JOIN CityObject CO on BO.ID = CO.ID
			LEFT JOIN BuildingBoundary BB on BO.BUILDINGBOUNDARY_ID = BB.ID
		WHERE 
			BB.ID = #{id}
    </select>
</mapper>