<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.citygml.v_2_0">

     <resultMap type="Room" id="RoomResultMap" extends="CityObjectResultMap">
		<id property="id" column="ID" />
		
		<result property="clazz" column="CLAZZ" />
        <result property="classCodeSpace" column="CLASS_CODESPACE" />
        <result property="func" column="FUNC" />
        <result property="funcCodeSpace" column="FUNC_CODESPACE" />
        <result property="usage" column="USAGE" />
        <result property="usageCodeSpace" column="USAGE_CODESPACE" />
        
        <!-- Geometries -->
    	<result property="lod4Solid" column="LOD4SOLID" javaType="[B" />
    	<result property="lod4MultiSurface" column="LOD4MULTISURFACE" javaType="[B" />
        
        <!-- Building -->
        <association property="building" column="BUILDING_ID" javaType="Building" foreignColumn="ID"/>
        
    	<!-- Associations -->
        <collection property="roomInstallations" column="id" ofType="BuildingInstallation"/>
        <collection property="buildingBoundarys" column="id" ofType="BuildingBoundary"/>
        
    	
    </resultMap>
    
    <sql id="RoomColumn">
    	${alias}.ID, ${alias}.BUILDING_ID, 
    	${alias}.CLAZZ, ${alias}.CLASS_CODESPACE, 
    	${alias}.FUNC, ${alias}.FUNC_CODESPACE,
    	${alias}.USAGE, ${alias}.USAGE_CODESPACE,
    	
    	ST_ASBINARY(${alias}.LOD4SOLID) AS LOD4SOLID,
    	ST_ASBINARY(${alias}.LOD4MULTISURFACE) AS LOD4MULTISURFACE 
    </sql>
    
    <insert 
		id="insertRoom"
		parameterType="Room"
		flushCache="true"
	>
    	INSERT INTO Room 
    	(
    		ID, BUILDING_ID, 
    		CLAZZ, CLASS_CODESPACE, FUNC, FUNC_CODESPACE, USAGE, USAGE_CODESPACE
    		
    		,LOD4SOLID
    		,LOD4MULTISURFACE
    	)
    	VALUES
		(
			#{id}, #{building.id}, 
			#{clazz}, #{classCodeSpace}, #{func}, #{funcCodeSpace}, #{usage}, #{usageCodeSpace}
			
			, Box3D(ST_GEOMFROMWKB(#{lod4Solid}, 4326))
			, ST_GEOMFROMWKB(#{lod4MultiSurface}, 4326)
		)
     </insert>
     
    <select
    	id="selectRoom"
    	parameterType="int"
    	resultMap="RoomResultMap"
    >
    	SELECT
    	<include refid="RoomColumn"><property name="alias" value="R"/></include>   
		FROM Room R
		WHERE 
			R.ID = #{id}
    </select>
    
    <select
    	id="selectRoomInstallationForRoom"
    	parameterType="int"
    	resultMap="RoomInstallationResultMap"
    >
    	SELECT
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="RoomInstallationColumn"><property name="alias" value="RI"/></include>  
		FROM RoomInstallation RI 
			LEFT JOIN CityObject CO on RI.ID = CO.ID
			LEFT JOIN Room R on RI.ROOM_ID = R.ID
		WHERE 
			R.ID = #{id}
    </select>
    
     <select
    	id="selectBuildingBoundarysForRoom"
    	parameterType="int"
    	resultMap="BuildingBoundaryResultMap"
    >
    	SELECT
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="BuildingBoundaryColumn"><property name="alias" value="BB"/></include> 
		FROM BuildingBoundary BB 
			LEFT JOIN CityObject CO on BB.ID = CO.ID
			LEFT JOIN Room R on BB.ROOM_ID = R.ID
		WHERE 
			R.ID = #{id}
    </select>
</mapper>