<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.opengis.citygml.v_2_0">

     <resultMap type="RoomInstallation" id="RoomInstallationResultMap" extends="CityObjectResultMap">
		<id property="id" column="ID" />
		
		<result property="clazz" column="CLAZZ" />
        <result property="classCodeSpace" column="CLASS_CODESPACE" />
        <result property="func" column="FUNC" />
        <result property="funcCodeSpace" column="FUNC_CODESPACE" />
        <result property="usage" column="USAGE" />
        <result property="usageCodeSpace" column="USAGE_CODESPACE" />
        
        <result property="isMoveable" column="IS_MOVEABLE" />
        
        <!-- Geometries -->
        <result property="lod4Geometry" column="LOD4GEOMETRY" javaType="[B"/>
        <association property="lod4ImplicitRepresentation" column="LOD4IMPLICITREPRESENTATION" javaType="ImplicitGeometry" foreignColumn="ID"/>
        
        <!-- Room -->
        <association property="room" column="ROOM_ID" javaType="Room" foreignColumn="ID"/>
    
    </resultMap>
    
    <sql id="RoomInstallationColumn">
    	${alias}.ID, ${alias}.ROOM_ID, 
    	${alias}.CLAZZ, ${alias}.CLASS_CODESPACE, 
    	${alias}.FUNC, ${alias}.FUNC_CODESPACE,
    	${alias}.USAGE, ${alias}.USAGE_CODESPACE,
    	${alias}.IS_MOVEABLE,
    	
    	ST_ASBINARY(${alias}.LOD4GEOMETRY) AS LOD4GEOMETRY,
    	${alias}.LOD4IMPLICITREPRESENTATION
    </sql>
    
    <insert 
		id="insertRoomInstallation"
		parameterType="RoomInstallation"
		flushCache="true"
	>
    	INSERT INTO RoomInstallation 
    	(
    		ID, ROOM_ID, 
    		CLAZZ, CLASS_CODESPACE, FUNC, FUNC_CODESPACE, USAGE, USAGE_CODESPACE, 
    		IS_MOVEABLE,
    		
    		LOD4GEOMETRY, LOD4IMPLICITREPRESENTATION
    	)
    	VALUES
		(
			#{id}, #{room.id}, 
			#{clazz}, #{classCodeSpace}, #{func}, #{funcCodeSpace}, #{usage}, #{usageCodeSpace}, 
			#{isMoveable}
			
			, ST_GEOMFROMWKB(#{lod4Geometry}, 4326)
			, #{lod4ImplicitRepresentation.id}
		)
     </insert>
     
     <select
    	id="selectRoomInstallation"
    	parameterType="int"
    	resultMap="RoomInstallationResultMap"
    >
    	SELECT 
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="RoomInstallationColumn"><property name="alias" value="RI"/></include> 
		FROM RoomInstallation RI
			LEFT JOIN CityObject CO on RI.ID = CO.ID
		WHERE 
			RI.ID = #{id}
    </select>
    
    <select
    	id="selectBuildingBoundarysForRoomInstallation"
    	parameterType="int"
    	resultMap="BuildingBoundaryResultMap"
    >
    	SELECT
    	<include refid="CityObjectColumn"><property name="alias" value="CO"/></include>, 
    	<include refid="BuildingBoundaryColumn"><property name="alias" value="BB"/></include> 
		FROM BuildingBoundary BB
			LEFT JOIN CityObject CO on BB.ID = CO.ID
			LEFT JOIN RoomInstallation RI on BB.ROOM_INSTALLATION_ID = RI.ID
		WHERE 
			RI.ID = #{id}
    </select>
</mapper>